:root {
    --primary-color: #273469; /* Delft Blue*/
    --secondary-color: #afd2e9; /* Columbia Blue*/
    --accent1-color: #273469; /* Rust*/
    --accent2-color: #afd2e9; /* Vanilla*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-color);
    padding: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li a {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    padding: 5px;
}

main {
    display: grid;
    margin: 0;
}

heading {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 16px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 50px;
    padding: 10px;
}

nav.socialmedia {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent2-color);
    border: 2px solid var(--accent1-color);
    padding: 5px;
    opacity: .9;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--accent1-color);
    margin: 5px;
    opacity: 1;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
}

.heading {
    text-align: center;
}

section .adventure, section .history {
    padding: 20px;
    border: 1px solid var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.information , .information p {
    text-align: center;
    margin: 0;
}

.information h1 {
    padding-top: 20px;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map {
    padding-right: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--accent1-color);
    border: 1px solid var(--accent1-color);
}

fieldset.username {
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 10px;
    border: none;
}

fieldset.purpose {
    padding: 10px;
    display: grid;
    border: none;
}

.purpose p {
    margin: 0;
    padding: 0;
}

fieldset.message {
    display: grid;
    padding: 10px;
    text-align: left;
    border: none;
}

button {
    background-color: var(--accent2-color);
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--accent1-color);
}

.employees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.employee-heading{
    text-align: center;
    margin: 20px 0;
}

.employee {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.employee img {
    width: 150px;
    height: auto;
}

footer p {
    text-align: center;
    flex-grow: 1;
    margin-right: auto;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    width: auto;
}

/* index CSS */
.home-hero img {
    display: block;
    width: 100vw;
    height: auto;
    position: relative;
    
}

.home-hero h1 {
    position: absolute;
    top: 300px;
    width: 250px;
    right: 100px;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    border: 1px solid white;
    opacity: .9;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.newsletter, form {
    padding: 10px;
    width: 350px;
    display: grid;
    align-items: center;
    color: var(--primary-color);
    border: none;
}

.newsletter button {
    margin: 5px;
    width: 320px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.call-to-action {
    padding: 10px;
    margin: 0;
}

.call-to-action h2 {
    position: relative;
    width: fit-content;
    top: 70px;
    left: 27px;
    color: var(--primary-color);
    background-color: white;
    opacity: .9;
}

.call-to-action img {
    width: 400px;
    padding: 10px;
}

.call-to-action button {
    position: relative;
    bottom: 50px;
    width: 300px;
    background-color: var(--primary-color);
    border: none;
}

.call-to-action a {
    color: white;
    text-decoration: none;
}

.offers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

.offers img {
    width: 410px;
    height: auto;
    padding: 10px;
}

.purpose-text , .offer-text {
    padding: 10px;
    text-align: center;
    position: relative;
    top: 50px;
    color: var(--primary-color);
}

/* Trips CSS */
.trips-call-to-action {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 40px;
    background-color: var(--accent2-color);
}

.trips-call-to-action a {
    color: white;
    text-decoration: none;
}

.trips-call-to-action button {
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    background-color: var(--primary-color);
}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.description h2 {
    grid-area: 1 / 1 / 2 / 4;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: var(--accent1-color);
}

.description img {
    width: 250px;
    padding-left: 20px;
}

.forest {
    grid-area: 3 / 1 / 4 / 2;
    padding-top: 20px;
}

.rapid {
    grid-area: 3 / 2 / 4 / 3;
    padding-top: 20px;
}

.beginner {
    grid-area: 3 / 3 / 4 / 4;
    padding-top: 20px;
}

.chart h2 {
    text-align: left;
    padding-left: 10px;
}

table {
    width: 100%;
    margin: 20px 20px;
    border-collapse: collapse;
    letter-spacing: 1px;
    padding: 5px;
}

th, td {
    border: 1px solid var(--accent1-color);
    text-align: center;
    padding: 10px 10px;
    letter-spacing: 1px;
}

