:root {
    --primary-color: #273469; /* Delft Blue*/
    --secondary-color: #afd2e9; /* Columbia Blue*/
    --accent1-color: #BA4126; /* Rust*/
    --accent2-color: #F8E49A; /* Vanilla*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 16px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent2-color);
    border: 2px solid var(--accent1-color);
    padding: 5px;
    opacity: .9;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--accent1-color);
    margin: 5px;
    opacity: 1;
}