:root {
    --primary-color: #273469; /* Delft Blue*/
    --secondary-color: #afd2e9; /* Columbia Blue*/
    --accent1-color: #BA4126; /* Rust*/
    --accent2-color: #F8E49A; /* Vanilla*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--secondary-color);
    padding: 10px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

li a {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    padding: 5px;
}

main {
    display: grid;
}

heading {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    padding: 16px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 50px;
}

nav.socialmedia {
    margin-left: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 10px;
    background-color: var(--accent2-color);
    border: 2px solid var(--accent1-color);
    padding: 5px;
    opacity: .9;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--accent1-color);
    margin: 5px;
    opacity: 1;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
}

.heading {
    text-align: center;
}

section .adventure, section .history {
    padding: 20px;
    border: 1px solid var(--accent1-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.information , .information p {
    text-align: center;
    margin: 0;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map {
    padding-right: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--accent1-color);
    border: 1px solid var(--accent1-color);
}

fieldset.username {
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 10px;
    border: none;
}

fieldset.purpose {
    padding: 10px;
    display: grid;
    border: none;
}

fieldset.message {
    display: grid;
    padding: 10px;
    text-align: left;
    border: none;
}

button {
    background-color: var(--accent2-color);
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--accent1-color);
}

.employee {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.employee img {
    width: 200px;
}

footer p {
    text-align: center;
    flex-grow: 1;
    margin-right: auto;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0 auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    width: auto;
}