:root {
    --primary-color: navy;
    --border: 1px solid navy;
    --primary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --secondary-font: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-color);
    font-size: 1em;
    color: black;
    background-color: white;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 20px;
    text-align: center;
    color: navy;
    font-family: var(--primary-font);
    border-bottom: 1px solid navy;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid navy;
    border-radius: 20px;
    background-color: lightgray;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 20px;
    margin: 10px;
    border: var(--border);
    padding: 10px;
}

legend {
    font-size: 20px;
    padding: 10px;
    color: navy;
}

label, input, button, select, textarea {
    font-family: var(--secondary-font);
}

label {
    text-align: left;
    padding-right: 15px;
    padding: 10px;
}

input, select, textarea {
    padding: 8px;
    font-size: 18px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.button {
    text-align: center;
}

button {
    background-color: navy;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    width: 50%;
}

button:hover {
    background-color: darkblue;
}

footer {
    text-align: center;
    width: 650px;
    padding: 10px;
    margin: 20px auto 0;
    color: navy;
    border-top: 1px solid navy;
    font-size: 14px;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 8px 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 8px 0;
}