* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    margin: 16px;
    border: 1px solid black;
    padding: 16px;
    background-color: mintcream;
}

h1 {
    margin: 8px;
}

form {
    background-color: lightgreen;
}

input, textarea, select, button {
    padding: 10px;
    width: 350px;
}

code {
    display: block;
    background-color: white;
}

.box {
    margin: 16px;
    border: 1px solid black;
    padding: 16px;
}

.quiz-item {
    border: none;
}

button {
    background-color: mintcream;
    color: black;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}