table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th, td {
    border: 1px solid rgb(140 140 140);
    text-align: center;
    padding: 8px 10px;
    letter-spacing: 1px;
}

thead, tfoot {
    background-color: black;
    color: white;
    font-weight: 700;
}